.hidden {
  display: none;
}

#header-div {
  text-align:center;
}

#js-bookmark-list {
  list-style: none;
}

.flex {
  display: inline-flex;
  width:100%;
  justify-content: space-between;
}

.js-bookmark {
  border: 1px solid gray;
  border-radius: 3px;
  display: inline-block;
  width: 60%;
  margin: 5px;
  vertical-align: middle;
}

.bookmark-buttons {
  display: inline-block;
  vertical-align: middle;
}

/* .js-expand-button {
  display: block;
} */

ul{
  text-align: center;
  padding: 0 0 0 0;
}


#error-message {
  font-weight: bolder;
  color:red;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h2{
  text-align: center;
}

.inline-block {
  display: inline-block;
  margin: 2px;
}

.bookmark-title-name, .bookmark-rating-name {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 2px;
}

 .bookmark-desc {
  text-align: center;
  margin-top: 10px;
}  

#bookmark-buttons {
  text-align: center;
}

 
/* Form Styling  */
#js-add-filter-form {
  text-align: center;
}

input {
  width: 80%;
}

#js-add-new-bookmark {
  border: 1px solid gray;
  border-radius: 8px;
  margin:3% 3% 3% 3%;
  background-color: #39CCCC;
}

.user-input {
  margin-bottom: 10px;
}

button:hover {
  cursor: pointer;
}

#form-buttons {
  margin-top: 10px;
}

.form-right{
  display: block;
  width:74%;
  text-align: right;
  margin-left: 10%;
}

.form-center{
  text-align: center;
}

.form-title{
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

button {
  margin-bottom: 5px;
}

