.hidden {
  display: none;
}

#js-bookmark-list {
  list-style: none;
}

.flex {
  display: inline-flex;
  width:100%;
  justify-content: space-between;
}

.js-bookmark {
  border: 1px solid gray;
  border-radius: 3px;
  display: inline-block;
  width: 80%;
  margin: 5px;
  vertical-align: middle;
}

.form-div{
  display: block;
  text-align: center;
}

.bookmark-buttons {
  display: inline-block;
  vertical-align: middle;
}

.js-expand-button {
  display: block;
}

/* #js-error{
  display: flex;
  width: 100%
} */

#error-message {
  font-weight: bolder;
  color:red;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

h2{
  text-align: center;
}


.inline-block {
  display: inline-block;
  margin: 2px;
}

.bookmark-title-name, .bookmark-rating-name {
  font-size: 20px;
  font-weight: bold;
}

 .bookmark-desc {
  text-align: center;
  margin-top: 10px;
}  




